body {
  background-color: black;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../images/london.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding: 280px 0;
}

button {
  margin: 30px;
  padding: 15px 30px;
  font-weight: 700;
  letter-spacing: 1px;
  background-color: white;
  border: white;
  border-radius: 3px;
}

button a {
  text-decoration: none;
  color: black;
}

h1 {
  font-size: 58px;
}

main {
  background-color: white;
}

main h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  color: #272044;
}

main h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  color: #272044;
  margin: 0;
}

main h5 {
  font-weight: 700;
  font-size: 15px;
  line-height: 1.5;
  color: #272044;
  margin-bottom: -10px;
}

main p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #272044;
  opacity: 0.7;
}

section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}

section.secondary {
  background: #f8f8f8;
}

footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../images/bigben.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}

footer a {
  color: white;
  opacity: 0.7;
}

footer p {
  opacity: 0.7;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-gap: 64px;
}

.img-responsive {
  max-width: 100%;
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}

.text-center {
  text-align: center;
}

.grid-2-columns-first-narrow {
  grid-template-columns: 1fr 2fr;
}

.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
}

.card {
  background: white;
  margin: 30px 0;
}

.card-body {
  padding: 30px;
}

.btn {
  display: block;
  color: white;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 16px;
  background-color: #462cb3;
  text-decoration: none;
  margin-top: 50px;
}

@media (max-width: 960px) {
  h1 {
    font-size: 35px;
  }

  .grid-2-columns {
    grid-template-columns: 1fr;
  }

  .grid-2-columns-first-narrow {
    grid-template-columns: 1fr;
  }

  .grid-3-columns {
    grid-template-columns: 1fr;
  }
}
